.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

/**
 * Other styles
 */
.feed-picker-url {
    float: left;
    width: 425px;
}
.feed-picker-title {
/*    float: left;*/
    color: #777;
    font-size: 10px;
}

.feed-list {
    padding: 1px 3px 0 3px;
}

.feed-list-item {
    margin-top: 3px;
    padding-left: 34px;
    font-size: 11px;
    line-height: 28px;
    cursor: pointer;
    background: url(webapp/ticket.png) no-repeat;
    background-position: 4px 4px;    
    border: 1px solid #fff;
}

.feed-list .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}

.feed-list-item-hover {
    background-color: #eee;
}

.add_ticket
{
	background: url(webapp/add_ticket.png);	
	background-repeat:no-repeat;
	background-position:center center;
}

.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 130px;
    float: left;
    margin-top: 5px;
  }
  .timeline-date2 {
    width: 130px;
    float: left;
    margin-top: 5px;
  }    
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content2 {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content2p {
    color: #6fc173;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    position: absolute;
    align: center;
    left: 80px;
    top: 10px;
    border-radius: 25px;
    border: 2px solid #6fc173;
    padding: 10px; 
    width: 100px;
    height: 1px;
    line-height: 1px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 126px;
    top: 24px;
    border-radius: 100%;
  }
}

.bd
{
    background-image:url(webapp/bd.png);
}
.attr
{
    background-image:url(webapp/attr.png);
}